.has-columns
    column-count: 3
    column-rule: 1px solid #e3e3e3
    column-gap: 70px

.letter-group
    margin-bottom: 4em
    break-inside: avoid

    &:last-child
        margin-bottom: 0

.letter-group .letter
    background: black
    color: white
    text-transform: uppercase
    padding: 10px 0

